<%= render(:partial => "top") %>
<%= render(:partial => "cafe") %>

<hr style="clear:both;" />

<% for status in @statuses %>
    <% time = status.created_at.strftime("%H:%M:%S") %>
    <% user = h(status.screen_name) %>
    <% id = status.status_id %>
    <% times = Fav.find(:all, :conditions => ["screen_name = ?", user]).size.to_i + 1 %>
    <% color, border = "black", "red" %>
    <% if (@last_visited.strftime("%H%M%S").to_i - status.created_at.strftime("%H%M%S").to_i) > 0
         color, border = "gray", "#f5f5f5"
       end
    %>
    <%
      case times
      when 0..1
        em = 0.8
        size = 24
        width = 160
        bk = ""
      when 2..10
        em = 1.2
        size = 30 + times
        width = 220
        bk = ""
      when 11..50
        em = 2
        size = 48
        width = 520
        bk = "break:both;"
      when 51..1000
        em = 3
        size = 73
        width = 650
        bk = "break:both;"
      else
        em = 0.8
        size = 24
        width = 180
        bk = ""
      end
    %>

    <div style="line-height:<%= em+0.1 %>em; background-color:#F5F5F5;
      border:2px solid <%= border %>; margin:1px; padding:3px;
      float:left; width:<%= width %>px;<%= bk %>color:<%= color %>;">
    <div class="user" id="#{id}" style="float:left;">
    <%= image_tag(
        "http://usericons.relucks.org/twitter/#{user}",
        :size => "#{size}x#{size}",
        :alt => user,
        :title => user
      ) %>
    </div>
    <span class="status" style="font-size:<%= em %>em;">
      <%= filter(status.text) %>
    </span>
      (<%= user + "/" + link_to(time, "http://twitter.com/#{user}/status/#{id}") %>)
      [Re / Fav / RT]
    </div>
<% end %>
<div style="clear:both;text-align:right;">
      <%= link_to("<span style='font-size:2em;background:silver;color:blue;'>もっとみる</span>", "/more") %>
</div>
<hr style="clear:both;" />

<%= render(:partial => "bottom") %>
